<div class="card ">

    <div class="card rounded-top">
        <div class="card-title p-5     bg-primary">
            <h3 class="fw-bolder text-white"><i class="fas fa-solid fa-envelope fs-3"></i>&nbsp;&nbsp; Quotation Mail
            </h3>
        </div>
        <div class="btn-group">
            <button type="button" class="btn draft-button text-white " (click)="onadd()">Save as Draft</button>

        </div>
        <a href="#" class="btn btn-sm btn-icon btn-color-primary btn-light btn-active-light-primary d-lg-none"
            data-bs-toggle="tooltip" data-bs-dismiss="click" data-bs-placement="top" title="Toggle inbox menu"
            id="kt_inbox_aside_toggle">
            <i class="ki-duotone ki-burger-menu-2 fs-3 m-0"><span class="path1"></span><span class="path2"></span><span
                    class="path3"></span><span class="path4"></span><span class="path5"></span><span
                    class="path6"></span><span class="path7"></span><span class="path8"></span><span
                    class="path9"></span><span class="path10"></span></i>
        </a>
    </div>

    <div class="card-body p-0">
        <form [formGroup]="reactiveForm" #form="ngForm" id="kt_inbox_compose_form">
            <div class="d-block">
                <div class="d-flex align-items-center border-bottom px-8 min-h-50px">
                    <div class="text-gray-900 font-bold w-95px">
                        From:
                    </div>
                    <input type="text" class="
                                    form-control form-control-lg form-control-solid
                                    custom-input
                                    mb-mb-lg-0
                                    bg-white
                                    custom-input borderc-secondary" formControlName="mail_from" value=""
                        data-kt-inbox-form="tagify" style="height: 40px; width:500px;" />
                    <div *ngIf="mail_from.invalid && (mail_from.dirty || mail_from.touched)">
                        <div *ngIf="mail_from.errors?.['required']">
                            <span style="color:red;">&nbsp; From Mail Is required.</span>
                        </div>
                    </div>
                </div>
                <div class="d-flex align-items-center border-bottom px-8 min-h-50px">
                    <div class="text-gray-900 font-bold w-95px">
                        To:
                    </div>
                    <input type="text" class="
                                    form-control form-control-lg form-control-solid
                                    custom-input
                                    mb-mb-lg-0
                                    bg-white
                                    custom-input borderc-secondary" formControlName="to" value=""
                        data-kt-inbox-form="tagify" style="height: 40px; width:500px;" />
                    <div *ngIf="to.invalid && (to.dirty || to.touched)">
                        <div *ngIf="to.errors?.['required']">
                            <span style="color:red;">&nbsp;To Mail Is required.</span>
                        </div>
                        <div *ngIf="to.errors?.['pattern']">
                            <span style="color:red;">&nbsp; Invaild Email Format.</span>
                        </div>
                    </div>
                </div>
                <div class="d-none align-items-center border-bottom " data-kt-inbox-form="cc">
                    <div class="text-gray-900 fw-bold w-75px">
                        Cc:
                    </div>
                    <input type="text" class="form-control form-control-transparent border-0" formControlName="cc"
                        value="" data-kt-inbox-form="tagify" />
                    <div *ngIf="cc.invalid && (cc.dirty || cc.touched)">
                        <div *ngIf="cc.errors?.['required']">
                            <span style="color:red;">&nbsp;CC Is required.</span>
                        </div>
                    </div>
                    <span class="btn btn-clean btn-xs btn-icon" data-kt-inbox-form="cc_close">
                        <i class="ki-duotone ki-cross fs-5"><span class="path1"></span><span class="path2"></span></i>
                    </span>
                </div>
                <div class="border-bottom">
                    <input class="form-control form-control-transparent border-0 px-8 min-h-45px" formControlName="sub"
                        placeholder="Subject" />
                    <div *ngIf="sub.invalid && (sub.dirty || sub.touched)">
                        <div *ngIf="sub.errors?.['required']">
                            <span style="color:red;">&nbsp;Subject Is required.</span>
                        </div>
                    </div>
                </div><br>
                <div class="d-flex flex-row m-6 mt-0">
                    <div class="col">
                        <span class="font-bold">Upload </span>
                        <div class="col-lg-12 fv-row mt-2">
                            <input (change)="onChange2($event)" accept="image/*,.pdf,.doc,.docx,.txt,.xlsx,.xls,.mp4"  type="file" #fileInput
                                class="
      form-control form-control-lg form-control-solid bg-white
      mb-4 mb-lg-0  borderc-secondary custom-input
    " name="fName" multiple style="height: 40px; width:500px;"/>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-19 col-sm-12">
                    <div class="d-flex flex-row m-6 mt-3">
                        <h5 class="col-lg-11 col-12 col-md-11 col-sm-11 fv-row mt-1"> <span class="font-bold">
                                Templates</span></h5>
                    </div>
                </div>
                <ng-select [items]="templatelist" class="custom col-lg-5 m-12 col-12 fv-row mt-2"
                    bindLabel="template_name" [(ngModel)]="Templateterm" formControlName="template_name"
                    bindValue="template_gid" placeholder="Select an option" (change)="GetOnChangeTerms()"></ng-select>
                    <div class="d-flex flex-row m-12 flex-wrap table-responsive">
                        <div class="col-12 col-lg-12 col-md-10  col-sm-10 fv-row mt-2">
                          <angular-editor [config]="config" formControlName="template_content"></angular-editor>
                        </div>
                      </div>
            </div>
            <div class="d-flex flex-stack flex-wrap justify-content-center gap-2 py-5 ps-8 pe-5 border-top">
                <div class="d-flex align-items-center me-3">
                    <div class="btn-group align-items-center  me-4 ">
                            <button type="Send" class="btn-success btn-sm text-white me-2"(click)="onadd()">
                                <i class="fas fa-check text-white fs-5"></i>
                                <span class="ms-3">Submit</span> </button>
                              <button class="btn-primary btn-sm text-white me-4" routerLink="/smr/SmrTrnQuotationSummary" >
                                <i class="fas fa-arrow-left"></i> &nbsp; Back
                              </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>