<div class="card">
  <div class="row ms-3 mt-3 d-flex align-items-center">
      <div class="col">
          <h3 class="card-title">Designation Summary</h3>
      </div>

      <div class="col me-5">
          <button title="Add Designation" class="btn-primary btn-sm text-white me-4 mb-2 mt-2 float-end"
              data-bs-toggle="modal" data-bs-target="#myModaladd">
              <i class="fas fa-plus"></i> &nbsp;&nbsp;
              Add Designation</button>
      </div>
  </div>

  <div class="table-responsive">
      <div class="mx-3 p-3 pt-0 pb-0 bg-white rounded">
          <table id="Designation_list" class="table table-striped table-row-bordered border-bottom gs-7">
              <thead>
                  <tr class="fw-bolder fs-5 text-nowrap bg-lightblue text-blue align-middle">
                      <th>S.No</th>
                      <th>Designation Code </th>
                      <th>Designation Name</th>
                      <th class="text-center">Action</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let data of Designation_list; let i=index;" class="align-middle">
                      <td>{{i+1}}</td>
                      <td>{{data.designation_code}}</td>
                      <td>{{data.designation_name}}</td>
                      <td class="text-center text-nowrap">
                          <button title="Edit" type="button" class="btn btn-icon btn-sm bg-success me-2" data-bs-toggle="modal" data-bs-target="#myModaledit" (click)="openModaledit(data)">
                              <span class="fa-solid fa-pencil fs-6" style="color: #ffffff;"></span>
                          </button>
                          <button title="Status" type="button" class="btn btn-icon btn-sm bg-danger me-2" data-bs-toggle="modal" data-bs-target="#myModalactive" (click)="openModalactive(data)">
                              <span class="bi bi-hand-thumbs-up-fill fs-6" style="color: #ffffff;"></span>
                          </button>
                      </td>
                  </tr>
              </tbody>
          </table>
      </div>
  </div>
</div>

<!-- The Modal ADD -->
<form [formGroup]="reactiveForm" #form="ngForm">
  <div class="modal mt-20" id="myModaladd" data-bs-backdrop="static" data-bs-keyboard="false">
      <div class="modal-dialog">
          <div class="modal-content">
              <!-- Modal Header -->
              <div class="card-header p-1 pb-3 pt-2 rounded-top bg-primary">
                  <div>
                      <h2 class="fw-bolder ms-5 mt-4" style="color: #ffffff;">Add Designation Details</h2>
                  </div>
              </div>

              <!-- Modal body -->
              <div class="modal-body">
                  <div class="row"><span class="font-bold"><b>Designation Code</b></span>
                      <div class="col-lg-12 col-md-12 col-sm-12 fv-row mt-2">
                          <input formControlName="designation_code" type="text" class="form-control form-control-lg form-control-solid custom-input mb-3 mb-lg-0 bg-secondary custom-input" />
                      </div>
                  </div>
                  <br>
                  <div class="row"><span class="font-bold"><b>Designation Name</b><span style="color:red"> *</span></span>
                      <div class="col-lg-12 col-md-12 col-sm-12 fv-row mt-2">
                          <input formControlName="designation_name" type="text" class="form-control form-control-lg form-control-solid custom-input mb-3 mb-lg-0 bg-white custom-input" [ngStyle]="{'border-color':adddesignation_name.invalid && adddesignation_name.touched ? 'red': 'rgb(209, 209, 209)'}" [class.is-invalid]="adddesignation_name.invalid && (adddesignation_name.dirty || adddesignation_name.touched)" placeholder="Enter Designation Name" pattern="^(?!\s*$).+" name="designation_name" required />
                          <div *ngIf="adddesignation_name.invalid && (adddesignation_name.dirty || adddesignation_name.touched)" class="invalid-feedback">
                              <div *ngIf="adddesignation_name.errors?.['required']">
                                  <span style="color: red; width: 200px; margin-top: 1px; margin-left: 8px; font-size: 11px;">* Designation name is required</span>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- Modal footer -->
              <div class="text-center my-4 mb-10">
                  <button (click)="onsubmit()" class="btn-success btn-sm text-white me-4" [disabled]="reactiveForm.invalid" [ngClass]="{'primary-button': !reactiveForm.invalid, 'secondary-button': reactiveForm.invalid}" data-bs-dismiss="modal">
                      <i class="fas fa-check text-white fs-5 "></i> &nbsp;Submit
                  </button> &nbsp;&nbsp;
                  <button class="btn-danger btn-sm text-white me-4" (click)="onclose()" data-bs-dismiss="modal">
                      <i class="fas fa-close text-white"></i> &nbsp;Close
                  </button>
              </div>
          </div>
      </div>
  </div>
</form>

<form [formGroup]="reactiveFormEdit" #form="ngForm">
  <div class="modal mt-20" id="myModaledit" data-bs-backdrop="static" data-bs-keyboard="false">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="card-header p-1 pb-3 pt-2 rounded-top bg-primary">
                  <div>
                      <h2 class="fw-bolder ms-5 mt-4" style="color: #ffffff;">
                          <i class="fas fa-pencil fw-bolder fs-3 me-4"></i>
                          Edit Designation Details
                      </h2>
                  </div>
              </div>

              <div class="modal-body">
                  <input class="form-control form-control-lg" formControlName="designation_gid" hidden type="text" placeholder="Enter Department" aria-label=".form-control-lg example" autocomplete="off" required>
                  <div class="row"><span class="font-bold"><b>Designation Code</b></span>
                      <div class="col-lg-12 col-md-12 col-sm-12 fv-row mt-2">
                          <input formControlName="designation_code" type="text" class="form-control form-control-lg form-control-solid custom-input mb-3 mb-lg-0 bg-secondary custom-input" readonly />
                      </div>
                  </div>
                  <br>

                  <div class="row"><span class="font-bold"><b>Designation Name</b><span style="color:red"> *</span></span>
                      <div class="col-lg-12 col-md-12 col-sm-12 fv-row mt-2">
                          <input formControlName="designation_name" type="text" class="form-control form-control-lg form-control-solid custom-input mb-3 mb-lg-0 bg-white custom-input" [ngStyle]="{'border-color':designation_name.invalid && designation_name.touched ? 'red': 'rgb(209, 209, 209)'}" [class.is-invalid]="designation_name.invalid && (designation_name.dirty || designation_name.touched)" pattern="^(?!\s*$).+" name="designation_name" placeholder="Enter Designation Name" required />
                          <div *ngIf="designation_name.invalid && (designation_name.dirty || designation_name.touched)" class="invalid-feedback">
                              <div *ngIf="designation_name.errors?.['required']">
                                  <span style="color: red; width: 200px; margin-top: 1px; margin-left: 8px; font-size: 11px;">* Designation name is required</span>
                              </div>
                          </div>
                      </div>
                  </div>                    

                  <div class="text-center my-4 mt-10">
                      <button (click)="onupdate()" class="btn-success btn-sm text-white me-4" [disabled]="reactiveFormEdit.invalid" [ngClass]="{'primary-button': !reactiveFormEdit.invalid,'secondary-button': reactiveFormEdit.invalid}" data-bs-dismiss="modal">
                          <i class="fas fa-check text-white fs-5 "></i> &nbsp;Update
                      </button> &nbsp;&nbsp;
                      <button class="btn-danger btn-sm text-white me-4" (click)="onclose()" data-bs-dismiss="modal">
                          <i class="fas fa-close text-white"></i> &nbsp;Close
                      </button>
                  </div>
              </div>
          </div>
      </div>
  </div>
</form>


<form [formGroup]="reactiveFormEdit1" #form="ngForm">
  <div class="modal mt-20" id="myModalactive" data-bs-backdrop="static" data-bs-keyboard="false">
      <div class="modal-dialog ">
          <div class="modal-content">
              <!-- Modal Header -->
              <div class="card-header p-1 pb-3 pt-2 rounded-top bg-primary">
                  <div>
                      <h2 class="fw-bolder ms-5 mt-4" style="color: #ffffff;">Designation Status</h2>
                  </div>
              </div>
              <!-- Modal body -->
              <div class="modal-body">
                  <div class="row">
                      <span class="font-bold"><b>Status</b><span style="color:red"> *</span></span>
                      <div class="col-lg-12 col-md-12 col-sm-12 fv-row mt-2 d-flex">
                          <div class="form-check form-check-inline">
                              <input type="radio" class="form-check-input" id="activeRadio" formControlName="designation_status" value="Active">
                              <label class="form-check-label" for="activeRadio">Active</label>
                          </div>
                          <div class="form-check form-check-inline">
                              <input type="radio" class="form-check-input" id="inactiveRadio" formControlName="designation_status" value="Inactive">
                              <label class="form-check-label" for="inactiveRadio">Inactive</label>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- Modal footer -->
              <div class="text-center my-4 mb-10">
                  <button (click)="onsubmit1()" class="btn-success btn-sm text-white me-4" [disabled]="reactiveFormEdit1.invalid" [ngClass]="{'primary-button': !reactiveFormEdit1.invalid, 'secondary-button': reactiveFormEdit1.invalid }" data-bs-dismiss="modal">
                      <i class="fas fa-check text-white fs-5 "></i> &nbsp;Submit
                  </button> &nbsp;&nbsp;
                  <button class="btn-danger btn-sm text-white me-4" (click)="onclose()" data-bs-dismiss="modal">
                      <i class="fas fa-close text-white"></i> &nbsp;Close
                  </button>
              </div>
          </div>
      </div>
  </div>
</form>