<div class="card shadow-sm">
  <div class="row ms-3 mt-3 d-flex align-items-center">

    
    <form  [formGroup]="reactiveForm" #form="ngForm">

      <div class="d-flex flex-row fv-row flex-wrap" >
          <div class="col-12 col-lg-3 col-md-3 col-sm-12">
            <div class="col-lg-11 col-12 col-md-11 col-sm-11 fv-row mt-5 ms-5">
              <b>Company name</b>
              <input formControlName="Companyname" type="text" style="width:70%;" class="form-control form-control-lg form-control-solid  borderc-secondary custom-input mb-3 mt-3 mb-lg-0 bg-white custom-input"
              placeholder="Enter Company name"  name="from" required (ngModelChange)="GetpaymentSummary()"/>
            </div>
          </div>
          <div class="col-12 col-lg-1 col-md-1 col-sm-12 mt-14" style="margin-left:65%;">
            <i class="bi bi-arrow-left-square-fill float-end fs-1 me-1 mt-8" (click)="onback()"></i>

            </div>
          </div>
          <br><br>
          </form>            
          
          <div class="col">
              <h3 class="card-title" style="font-size:15px; ">Payment Add Select </h3>
        
          </div> 
          
             <div class="table-responsive">
              <div class="card card-body m-1 shadow-lg p-3 mb-5 bg-white rounded">
                <table id="Payment_addlist" class="table table-striped table-row-bordered gy-5 gs-7">
                  <thead>
                    <tr class="fw-bolder fs-5 text-nowrap bg-lightblue text-blue align-middle"> 
                      <th></th>             
                      <th style="font-size:11px;">S.No</th>
                      <th style="font-size:11px;">Company	</th>
                      <th style="font-size:11px;">Contact Details	</th>            
                      <th style="font-size:11px;">Invoice Amount</th>
                      <th style="font-size:11px;">Paid Amount	</th>
                      <th style="font-size:11px;">Outstanding Amount</th>
                      <th style="font-size:11px;">Action</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let data of Payment_addlist; let i=index;">
                      <td (click)="ondetail(data.vendor_gid)" (click)="data.isExpand = !data.isExpand">
                          <i *ngIf="!data.isExpand" class="bi-chevron-right"></i>
                          <i *ngIf="data.isExpand" class="bi-chevron-up"></i>
                      </td>
                    <td style="font-size:11px;">{{i+1}}</td>
                    <td style="font-size:11px;">{{data.vendor_companyname}}</td>
                    <td style="font-size:11px;">{{data.contact}}</td>            
                    <td style="font-size:11px;">{{data.invoice_amount}}</td>
                    <td style="font-size:11px;">{{data.payment_amount}}</td>
                    <td style="font-size:11px;">{{data.outstanding}}</td>
                    <td class="text-center text-nowrap">
                      <button title="Make Payment" type="button" class="btn btn-icon btn-sm bg-success me-2" data-bs-toggle="modal" data-bs-target="#myModalmakepayment" (click)="addpayment(data.vendor_gid)">
                          <span class="fa fa-inr fs-6" style="color: #ffffff;"></span>
                        </button>
                    </td>

                    <td *ngIf="data.isExpand" >
                      <br> <br> <br>
                      <div class="table-responsive" style="margin-left:-1100px;">
                          <div class="card card-body m-3 shadow-lg p-3 mb-5 bg-white rounded">
                              <table id="" 
                                  class="table table-striped table-row-bordered gy-5 gs-7 ">
                                  <thead>
                                      <tr class="fw-bold fs-5 text-nowrap bg-lightblue text-blue">
                                          <th>S.No</th>
                                          <th>Invoice Date</th>
                                          <th>Invoice Refno</th>
                                          <th>Due Date</th>
                                          <th>Invoice Amount</th>
                                          <th>Paid Amount	</th>
                                          <th>Outstanding Amount	</th>
                                          <th>Details</th>
                                          <th>Status </th>
                                          <th>Invoice Remarks</th>
                                          <th>Action</th>
                                          </tr>
                                  </thead>
                                  <tbody>
                                  <tr *ngFor="let data1 of Payment_expand; let i=index;">
                                          <td>{{i+1}}</td>
                                          <td>{{data1.invoice_date}}</td>
                                          <td>{{data1.invoice_refno}}</td>                                           
                                          <td>{{data1.due_date}}</td>
                                          <td>{{data1.invoice_amount}}</td>
                                          <td>{{data1.payed_amount}}</td>
                                          <td>{{data1.outstanding}}</td>
                                          <td class="text-center text-nowrap">
                                            <a title="Select" href="#" class="btn-text-link me-2"
                                            (click)="Productdetails(data)"  data-bs-toggle="modal" data-bs-target="#myadditional" >Product Details  </a>

                                          <td>{{data1.overall_status}}</td>
                                          <td>{{data1.invoice_remarks}}</td>
                                      </tr> 
                               </tbody>
                              </table>
                          </div>
                      </div>
                  </td>     
                  </tr>
                   </tbody>
                   </table> 

                   <div class="modal" id="myadditional" data-bs-backdrop="static" data-bs-keyboard="false" style="margin-top: 150px;">
                    <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="table-responsive">
                              <div class="card card-body m-3 shadow-lg p-3 mb-5 bg-white rounded d-flex">
                                <div class="col">
                                  <h3 class="card-title" style="font-size:12px; ">Product Details</h3>                              
                              </div> 
                                  <table id="" class="table table-striped table-row-bordered gy-5 gs-7">
                                      <thead>
                                          <tr class="fw-bold fs-8 bg-lightblue text-blue">
                                              <th>S.No</th>
                                              <th>Invoice Ref No.</th>
                                              <th>Product Code</th>
                                              <th>Product Name</th>  
                                              <th>Product Price</th>                                                               
                                             </tr>
                                      </thead>
                                   <tbody> 
                                          <tr *ngFor="let data of product_list; let i=index;"> 
                                              
                                              <td >{{i+1}}</td>
                                              <td>{{data.invoice_refno}}</td>
                                              <td>{{data.product_code}}</td>
                                              <td>{{data.product_name}}</td>
                                              <td>{{data.product_total}}</td>
                                          </tr>
                                      </tbody> 
                                       </table>
                                      
                                       
                                      </div>
                                      </div>
                                      </div>
                                      </div>
                                      </div>
